## Archivos y carpetas generadas por Visual Studio ##
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results ##
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Archivos de cache ##
*.ilk
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.c
*_p.c
*.ncb
*.opendb
*.cachefile
*.dbmdl
*.bak
*.backup
*.log

## Archivos de paquetes NuGet ##
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Configuración de usuario ##
*.vsconfig
*.dotCover

## Archivos de publicación ##
*.publishsettings
.publish/
_PublishTemp/

## Archivos de Rider / ReSharper (si los usas) ##
.idea/
_ReSharper*/
*.DotSettings.user

## Archivos de Azure ##
*.azurePubxml
*.azurePubxml.user
